<%= simple_form_for [@article, @comment ||= Comment.new] do |f| %>
  <legend>Comment (stacked-form)</legend>
  <% f.with_options :input_html => {:class => "xxlarge"} do |opt| %>
    <%= opt.input :name, :hint => "please, identify yourself" %>
    <%= opt.input :body, :hint => "add your comment here",
                  :input_html => { :rows => 4 } %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'primary' %>
    <%= button_tag 'Cancel', :type => :reset, :class => "btn" %>
  </div>
<% end %>
