<div class="well">
  <a href="#" class="btn" data-code="show">Show Code</a>
</div>

<%= simple_form_for @article, :wrapper => :bootstrap, :html => { :class => 'form-horizontal' } do |f| %>
 <pre> simple_form_for(@article, :wrapper =&gt; :bootstrap, :html =&gt; { :class =&gt; 'form-horizontal' }) do |f| </pre>

  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>

  <legend>Article</legend>
  <%= f.input :name, :input_html => { :class => "span6" },
              :hint => "add your article title here" %>
  <pre> f.input :name, :input_html =&gt; { :class =&gt; "span6" }, :hint =&gt; "add your article title here" </pre>

  <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Name", :class => "add-on" %>
    <%= f.input_field :name %>
  <% end %>

  <pre>
f.input :name, :wrapper =&gt; :prepend, :label =&gt; false do
  content_tag :span, "Name", :class =&gt; "add-on"
  f.input_field :name
end </pre>

  <%= f.input  :published, :wrapper => :checkbox, :as => :boolean %>

  <pre> f.input :published, :wrapper =&gt; :checkbox, :as =&gt; :boolean</pre>

  <%= content_tag :fieldset, :class => 'control-group' do %>
    <%= content_tag :label, 'Options', :class => 'control-label' %>
    <%= content_tag :div, :class => 'controls' do %>
      <%= f.label :secret, :class => 'checkbox' do %>
        <%= f.input :secret, :wrapper => :checkbox_inline, :as => :boolean %>
      <% end %>
      <%= f.label :draft, :class => 'checkbox' do %>
        <%= f.input :draft, :wrapper => :checkbox_inline, :as => :boolean %>
      <% end %>
    <% end %>
  <% end %>

<pre>
content_tag :fieldset, :class =&gt; 'control-group' do
  content-tag :label, 'Options', :class =&gt; 'control-label' do
    content-tag :div, :class =&gt; 'controls' do
      f.label :secret, :class =&gt; 'checkbox' do
        f.input :secret, :wrapper =&gt; :checkbox_inline, :as =&gt; :boolean
      end
      f.label :draft, :class =&gt; 'checkbox' do
        f.input :draft, :wrapper =&gt; :checkbox_inline, :as =&gt; :boolean
      end
    end
  end
end
</pre>

  <%= f.input :content_type, :collection => content_type_options,
              :hint => "multiple select", :input_html => { :multiple => true } %>
  <pre> f.input :content_type, :collection =&gt; content_type_options, :input_html =&gt; { :multiple =&gt; true } </pre>

  <%= f.input :category, :collection => content_type_options,
              :hint => "simple select box" %>
  <pre> f.input :category, :collection =&gt; content_type_options, :hint =&gt; "simple select box" </pre>

  <%= f.input :content, :input_html => { :class => "span6" } %>
  <pre> f.input :content, :input_html =&gt; { :class =&gt; "span6" } </pre>

  <%= f.input :disabled_text, :disabled => true,
              :hint => "an example of disabled input" %>
  <pre> f.input :disabled_text, :disabled =&gt; true, :hint =&gt; "an example of disabled input" </pre>

  <%= f.input :disabled_text, :wrapper => :prepend do %>
    <%= content_tag :label, :class => "add-on" do %>
      <%= check_box_tag :remove, 'true' %>
    <% end %>
    <%= f.input_field :disabled_text %>
  <% end %>
<pre>
f.input :disabled_text, :wrapper =&gt; :prepend do
content_tag :label, :class =&gt; "add-on" do
  check_box_tag :remove, 'true'
end
f.input_field :disabled_text
end
</pre>

  <%= f.input :disabled_text, :wrapper => :append do %>
    <%= f.input_field :disabled_text, :class => :mini %>
    <%= content_tag :label, :class => "add-on active" do %>
      <%= check_box_tag :remove, 'true' %>
    <% end %>
  <% end %>
<pre>
f.input :disabled_text, :wrapper =&gt; :append do
  f.input_field :disabled_text, :class =&gt; :mini
  content_tag :label, :class =&gt; "add-on active" do
    check_box_tag :remove, 'true'
  end
end
</pre>

  <div class="form-actions">
    <%= f.button :submit, :class => 'primary' %>
    <%= button_tag 'Cancel', :type => :reset, :class => "btn" %>
  </div>
    <pre>
 f.button :submit, :class =&gt; 'primary'
 button_tag 'Cancel', :type =&gt; :reset, :class =&gt; "btn" </pre>
<% end %>
