<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.input :content_type, :collection => ['Blog', 'Editorial'] %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
