<% content_for :breadcrumb do %>
  <li class="active">Home</li>
<% end %>

<h1>Listing articles</h1>

<div class="well">
  <%= link_to 'New Article', new_article_path, :class => 'btn' %>
</div>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Content</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= link_to article.name, article %></td>
        <td><%= article.content %></td>
        <td>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
