<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active"><%= @article.name %></li>
<% end %>

<article>
  <header>
    <h1><%= @article.name %> <small><%= link_to "edit", edit_article_path(@article) %></small></h1>
  </header>

  <div class="content">
    <%= @article.content %>
  </div>

  <section id="article-comments">
    <h4>Comments</h4>
    <ol id="comments">
      <% @article.comments.each do |comment| %>
        <li>
          <article class="comment">
            <div class="comment-name">
              <strong><%= comment.name %></strong>
            </div>
            <div class="comment-body">
              <p><%= comment.body %></p>
            </div>
          </article>
        </li>
      <% end %>
    </ol>

    <%= render 'articles/comments/form' %>
  </section>
</article>

