<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active"><%= @article.name %></li>
</ul>

<% if notice %>
  <div class="alert-message success fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><%= notice %></p>
  </div>
<% end %>

<article>
  <header>
    <h1><%= @article.name %></h1>
  </header>

  <div class="content">
    <%= @article.content %>
  </div>

  <footer>
    <div class="well" style="padding: 5px;">
      <%= link_to 'Edit', edit_article_path(@article), :class => "btn" %>
    </div>
  </footer>
</article>

