<% content_for :breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
  <li class="breadcrumb-item active">Examples</li>
<% end %>

<div class="app-example-overview bg-light py-5">
  <div class="container">
    <div class="row">

      <% Examples::BaseController::TYPES.each do |type| %>
        <div class="col-md-4">
          <div class="card box-shadow mb-4">
            <%= link_to [:new, :examples, type] do %>
              <%= image_tag "#{type}.png", class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= t(".#{type}.title") %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= t(".#{type}.subtitle") %></h6>
              <%= link_to t(".#{type}.link"), [:new, :examples, type], class: "btn btn-outline-primary mt-2" %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
