<%= simple_form_for @user, url: examples_inline_path,
  wrapper: :inline_form,
  html: { class: "row row-cols-lg-auto g-3 align-items-center" },
  wrapper_mappings: {
    boolean: :inline_boolean
  } do |f| %>

  <%= render partial: "shared/form_unused_as_hidden", locals: {
    f: f, fields: [:name, :avatar, :bio, :birthday, :color, :fruit, :music, :language, :pill, :choises, :active, :friends, :mood, :awake, :first_kiss]
  } %>

  <%= f.input :email %>

  <%= f.input :password %>

  <%= f.input :terms %>

  <div class="col-12">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
