<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Example Rails application with SimpleForm and Bootstrap</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <%= content_tag :body, data: { action: action_name, controller: controller_name, path: request.path } do %>
    <%= render "header" %>
    <%= render "flash" %>

    <%= render "jumbotron" if controller?("examples") %>
    <%= render "breadcrumb" %>

    <%= yield %>

    <%= render "footer" %>
    <%= javascript_include_tag "application" %>
  <% end %>
</html>
