<!DOCTYPE html>
<html>
<head>
  <title>SimpleFormBootstrap</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="master">
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="#">SimpleForm Bootstrap</a>
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Articles</a>
              <ul class="dropdown-menu">
                <li><%= link_to "List", articles_path %></li>
                <li><%= link_to "New Article", new_article_path %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <ul class="breadcrumb">
      <%= yield :breadcrumb %>
    </ul>

    <% if notice %>
      <div class="alert-message success fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <p><%= notice %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
