<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Example application with SimpleForm and Bootstrap</title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <%= render "header" %>

    <div class="container">
      <ol class="breadcrumb">
        <%= yield :breadcrumb %>
      </ol>

      <div class="alert alert-info my-4" role="alert">
        <h3 class="alert-heading">
          <a href="https://github.com/plataformatec/simple_form">Simple Form</a> and <a href="http://getbootstrap.com/">Bootstrap</a> sample application.
        </h3>
        <p>Here you'll see the usage of <a href="https://github.com/plataformatec/simple_form">Simple Form</a> and the <a href="http://getbootstrap.com/">Bootstrap</a> toolkit on a Rails 5 application.</p>
        <hr />
        <p class="mb-0">You can check the source code on <a href="https://github.com/rafaelfranca/simple_form-bootstrap">GitHub</a>.</p>
      </div>

      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Notice!</strong> <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <%= render "footer" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
